

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 20px 80px;
  backdrop-filter: blur(10px);
  /* mask-image: linear-gradient(black 80%, transparent 100%);    */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  padding: 10px;
  margin: 0 20px 0 0;
}

#navbar li {
  position: relative;
}

#navbar li a {
  font-family: var(--body-font);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: red;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: red;
  left: 0px;
  bottom: -3px;
  transition: all 0.3s ease;
}


